__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env
.venv/
.envrc


.DS_Store
Thumbs.db
.idea/
.vscode/


db.sqlite3

/media/

staticfiles/


*.log


htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
/test_file/

node_modules/
dist/
build/

audio/
text/

test/